<nav id="full-screen-nav">
  <div></div>
  <ul>
    {{#if @site.navigation}}
      {{navigation}}
    {{/if}}
  </ul>
  <ul class="social-media-nav nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="https://instagram.com/clare_gallagher_runs"><i class="fab fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.strava.com/pros/16362182"><i class="fab fa-strava"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/clare.gallagher.runs/"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/puppiesonmtsyay"><i class="fab fa-twitter"></i></a>
    </li>
  </ul>
</nav>
