<section class="container partners">
  <div class="partner-logo-container">
    <div class="partner-logo-primary">
      <a href="http://www.patagonia.com/" target="_blank"><img src="{{asset "images/logos/patagonia.png"}}" /></a>
    </div>
  </div>
  <div class="partner-logo-container">
    <div class="partner-logo">
      <a href="https://www.lasportiva.com/" target="_blank"><img src="{{asset "images/logos/la-sportiva.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="https://www.petzl.com/" target="_blank"><img src="{{asset "images/logos/petzl.png"}}" /></a>
    </div>
    <div class="partner-logo">
      <a href="https://www.honeystinger.com/" target="_blank"><img src="{{asset "images/logos/honey-stinger.png"}}" /></a>
    </div>
  </div>
</section>
