{{!< default}}

{{#post}}

<main class="page">

  <article class="article page {{post_class}}">
    <section class="gh-content gh-grid">

      <h1 class="article-title">{{title}}</h1>

      {{content}}

    </section>
  </article>

</main>

{{/post}}
