{{!< default}}
{{#post}}
<main class="page">
  {{#get "posts" slug="media" as |page|}}
    {{#page}}
      <div class="container flex-grow">
        {{content}}
      </div>
    {{/page}}
  {{/get}}
</main>
{{/post}}
