@import "reset.css";
@import "default.css";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather');

:root {
  --color-green: #a4d037;
  --color-yellow: #fecd35;
  --color-red: #f05230;
  --color-darkgrey: #15171A;
  --color-midgrey: #738a94;
  --color-lightgrey: #c7d2d8;
  --color-verylightgrey: #e3eaee;
  --color-wash: #e5eff5;
  --color-darkmode: #151719;

  /* Accent color (See Ghost Admin > Settings > Brand) */
  /* --ghost-accent-color: {value}; */

  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
}

.viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.gh-body {
  flex-grow: 1;
}

p > a,
p > a:visited {
  text-decoration: none;
  color: #2996D1;
  transition: all 0.2s;
}
p > a:hover,
p > a:active {
  text-decoration: none;
  color: #1F719E;
}

a.button {
  display: inline-block;
  padding: 8px 15px;
  color: var(--color-darkgrey);
  font-weight: 500;
  line-height: 1em;
  background: var(--color-verylightgrey);
  border-radius: 30px;
  transition: 0.2s;
}
a.button:hover {
  background: var(--color-lightgrey);
}

a.button.disabled {
  color: var(--color-midgrey);
  background: var(--color-verylightgrey);
  cursor: pointer;
}
a.button.disabled:hover {
  color: var(--color-midgrey);
  background: var(--color-verylightgrey);
  cursor: pointer;
}

/* Grid */

.gh-grid {
  display: grid;
  grid-template-columns:
      [full-start]
      minmax(4vmin, auto)
          [wide-start]
          minmax(auto, 240px)
              [main-start]
                  min(720px, calc(100% - 8vw))
              [main-end]
          minmax(auto, 240px)
          [wide-end]
      minmax(4vmin, auto)
      [full-end]
  ;
}

.gh-grid > * {
  grid-column: main-start / main-end;
}

.gh-grid-main {
  grid-column: main-start / main-end;
}

.gh-grid-wide {
  grid-column: wide-start / wide-end;
}

.gh-grid-full {
  grid-column: full-start / full-end;
}

.kg-width-wide {
  grid-column: wide-start / wide-end;
}

.kg-width-full {
  grid-column: full-start / full-end;
}

.kg-width-full img {
  width: 100%;
}

/* Navigation */

.site-header {
  padding: 1vmin 4vmin;
  font-size: 1.6rem;
  line-height: 1.3em;
  background: rgba(255, 255, 255, 1.0);
  /* TODO */
  /* position: fixed; */
  /* width: 100%; */
  /* background: linear-gradient(rgba(255, 255, 255, 0.8), 80%, rgba(255, 255, 255, 0.0)); */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); */
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-header-nav {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-gap: 2.5vmin;
  grid-template-columns: auto auto 1fr;
  grid-auto-flow: row dense;
}

.site-header-nav-title {
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 200px;
  text-align: center;
  word-break: break-all;
}

.site-header-nav-menu {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.site-header-nav-menu .nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header-nav-menu .nav li {
  margin: 0 2.5vmin 0 0;
  padding: 0;
}

.site-header-nav-menu .nav a {
  display: inline-block;
  padding: 5px 0;
  opacity: 0.8
}

.site-header-nav-menu .nav a:hover {
  opacity: 1;
}

.site-header-nav-title a {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.5px;
}

.site-header-nav-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-align: right;
}

.site-header-nav-actions-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.site-header-nav-actions-list a:not([class]) {
  display: inline-block;
  margin: 0 0 0 1.5vmin;
  padding: 5px 0;
}

a.site-header-nav-button {
  display: block;
  padding: 8px 15px;
  color: var(--color-darkgrey);
  font-weight: 500;
  letter-spacing: -0.015em;
  font-size: 1.5rem;
  line-height: 1em;
  background: var(--color-verylightgrey);
  border-radius: 30px;
  transition: 0.2s;
}
a.site-header-nav-button:hover {
  background: var(--color-lightgrey);
}

.site-header-burger {
  position: relative;
  display: none;
  cursor: pointer;
}

.site-header-burger-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
}

.site-header-burger-inner {
  width: 100%;
  height: 100%;
}

.site-header-burger-box::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform 300ms cubic-bezier(.2,.6,.3,1), width 300ms cubic-bezier(.2,.6,.3,1);
  will-change: transform, width;
}

.site-header-burger-inner::before,
.site-header-burger-inner::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform 250ms cubic-bezier(.2,.7,.3,1), width 250ms cubic-bezier(.2,.7,.3,1);
  will-change: transform, width;
}

.site-header-burger-inner::before {
  transform: translatey(-6px);
}
.site-header-burger-inner::after {
  transform: translatey(6px);
}

body:not(.site-header-open) .site-header-burger:hover .site-header-burger-inner::before {
  transform: translatey(-8px);
}
body:not(.site-header-open) .site-header-burger:hover .site-header-burger-inner::after {
  transform: translatey(8px);
}

.site-header-open .site-header-burger-box::before {
  width: 0;
  transform: translatex(19px);
  transition: transform 200ms cubic-bezier(.2,.7,.3,1), width 200ms cubic-bezier(.2,.7,.3,1);
}

.site-header-open .site-header-burger-inner::before {
  width: 26px;
  transform: translatex(6px) rotate(135deg);
}

.site-header-open .site-header-burger-inner::after {
  width: 26px;
  transform: translatex(6px) rotate(-135deg);
}

@media (max-width: 900px) {
  .site-header-burger {
    display: inline-block;
  }
  .site-header {
    transition: all 0.4s ease-out;
    overflow: hidden;
  }
  .site-header .site-header-nav {
    height: 100%;
    grid-template-columns: 1fr;
  }
  .site-header .site-header-nav-title {
    position: relative;
    z-index: 10;
    grid-column-start: auto;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .site-header .site-header-nav-menu {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 10vh 0;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 1.1em;
  }
  .site-header .site-header-nav-menu .nav li {
    margin: 5px 0;
  }
  .site-header .site-header-nav-menu .nav a {
    padding: 8px 0;
  }
  .site-header .site-header-nav-menu .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-header .site-header-nav-actions {
    padding: 20px 0;
    justify-content: center;
    text-align: left;
  }
  .site-header .site-header-nav-actions a {
    margin: 0 10px;
  }
  /* Hide collapsed content */
  .site-header .site-header-nav-actions,
  .site-header .site-header-nav-menu {
    display: none;
  }
  /* Open the menu */
  .site-header-open {
    overflow: hidden;
    height: 100vh;
  }
  .site-header-open .site-header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3999999;
    overflow-y: scroll;
  }
  .site-header-open .site-header .site-header-nav {
    grid-template-rows: auto 1fr auto;
  }
  .site-header-open .site-header .site-header-nav-actions,
  .site-header-open .site-header .site-header-nav-menu {
    display: flex;
  }
}

/* Footer */

.partners {
  margin: 20px 0;
}
.partner-logo-primary {
  flex: 0 1 auto;
}
.partner-logo-primary img {
  max-width: 360px;
}
.partner-logo-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.partner-logo-container .partner-logo {
  flex: 0 1 auto;
  margin: 20px;
}
.partner-logo-container .partner-logo img {
  max-width: 120px;
}

.copyright {
  text-align: center;
  margin: 40px 0 30px 0;
}

/* Home */

.home img.gh-cover-image {
  height: 76vh;
  width: 100vw;
  object-fit: cover;
}

.home .gh-description {
  font-size: 1.8rem;
}

.home .gh-description > * {
  padding: 2.2em 1.2em;
  margin: 0;
}

.home .gh-home-page-content > * {
  margin-top: 2.4vmin;
  margin-bottom: 0;
}
.home .gh-home-page-content>*:first-child {
  margin-top: 0;
}

.home .home-page-read-more {
  margin: 2em;
  text-align: center;
}

.home .home-page-blog {
  margin: 4em 0;
}

section.fixed-image {
  background-color: #5b5b5b;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: border-box;
  margin: 0;
}
section.fixed-image {
  height: 60vh;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  section.fixed-image {
    background-attachment: scroll;
  }
}

/* Articles */

.article {
  word-break: break-word;
}

.article header .gh-feature-image {
  grid-column: full-start/full-end;
  width: 100%;
}

.article header .gh-feature-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.gh-content > * {
  margin-top: 2.4vmin;
  margin-bottom: 0;
}

.gh-title {
  margin: 0.8em 0 0.6em 0;
}

section.meta {
  font-size: 1.4rem;
}

.gh-authors {
  font-size: 1.6rem;
  margin: 0;
}

/* Blog */

.post-card {

}

.post-card h3 {
  font-size: 1.8rem;
  margin: 0.6em 0 0.2em 0;
}

.post-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-card-container .post-card {
  margin: 1em;
}

@media (max-width: 900px) {
  .post-card {

  }

  .post-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .post-card-container .post-card {
    margin: 1em;
  }
}

.post-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
}

.post-card-image {
  width: 100%;
  height: 200px;
  background: var(--color-lightgrey) no-repeat center center;

  object-fit: cover;
}

nav.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em 0;
}

nav.pagination > * {
  margin: 0.5em;
}

/* Page */

/* Post */

.read-more {
  margin: 4em 0;
}

/* Tags */

.tag-header {
  padding-bottom: 2.0em;
  margin-bottom: 1em;
  background: var(--color-verylightgrey);
}

.tag-header .tag-title {
  text-transform: capitalize;
}
